<form [formGroup]="customerFormGroup" (ngSubmit)="submitCustomerConnectionHandler()">
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="customerFormGroup">

      <ng-template matStepLabel>Fill out your name</ng-template>
      <table>
        <tr>
          <td>
            <label class="col-lg-2 control-label" for="firstName"> <mat-label>First Name</mat-label></label>
          </td>
          <td>
            <mat-form-field appearance="outline">
            <input matInput id="firstName" placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="firstName.invalid && firstName.touched">
              The first name looks invalid (Only alphabets allowed)
            </mat-error>
          </mat-form-field></td>
          <td>
            <label class="col-sm-2 control-label" for="middleName">   <mat-label>Middle name</mat-label></label>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <input matInput id="middleName" placeholder="Middle name" formControlName="middleName">
              <mat-error *ngIf="middleName.invalid && middleName.touched">
                The middle name looks invalid (Only alphabets allowed)
              </mat-error>
            </mat-form-field>

          </td>
        </tr>

        <tr>
          <td>
            <label class="col-sm-2 control-label" for="surname">  <mat-label>Surname</mat-label></label>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <input matInput id="surname" placeholder="Surname" formControlName="surname">
              <mat-error *ngIf="surname.invalid  && surname.touched">
                The surname looks invalid (Only alphabets allowed)
              </mat-error>
            </mat-form-field>
          </td>

          <td>
            <label class="col-sm-2 control-label" for="idNumber"> <mat-label>ID Number</mat-label></label>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>National ID Number</mat-label>
              <input matInput id="idNumber" placeholder="National ID Number" formControlName="idNumber">
              <mat-error *ngIf="idNumber.invalid && idNumber.touched">
                The National ID looks invalid (Only numbers allowed)
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <label class="col-sm-2 control-label" for="email">  <mat-label>Email address</mat-label></label>
          </td>
          <td colspan="3">
            <mat-form-field appearance="outline" class="full-width-input">
              <input matInput id="email" placeholder="Email address" formControlName="email">
              <mat-error *ngIf="email.invalid && email.touched">
                The email address is invalid
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <label class="col-sm-2 control-label" for="number"> <mat-label>Phone Number</mat-label></label>
          </td>
          <td>
            <div formArrayName="phoneNumbers">
              <div *ngFor="let number of formPhoneNumbers.controls; let i=index;" [formGroupName]="i">
                <mat-form-field>
                  <input matInput id="number" placeholder="Phone Number" formControlName="number">
                  <mat-error *ngIf="number.invalid && number.touched">
                    The phone number is invalid <br />
                    - should start with a 7
                    - should contain 9 digits
                  </mat-error>
                </mat-form-field>

                <button mat-raised-button color="warn" (click)="deleteFormPhoneNumber(i)"> Delete Phone number
                  <mat-icon aria-label="add phone number icon">delete</mat-icon>
                </button>
              </div>
            </div>

            <button type="button" mat-raised-button color="primary" (click)="addPhoneNumber()"> Add Phone number
              <mat-icon aria-label="add phone number icon">add</mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div  class="next-button btn-primary">
              <button type="button" mat-button matStepperNext >Next</button>
            </div>
          </td>
        </tr>
      </table>
  </mat-step>
  <mat-step [stepControl]="connectionsFormGroup">
      <ng-template matStepLabel>Fill out Connection details</ng-template>

      <table>
        <tr>
          <td>
            <label class="col-sm-2 control-label" for="number"> <mat-label>New Connection</mat-label></label>
          </td>
          <td>
            <div formArrayName="connections">
              <div *ngFor="let connection of formConnections.controls; let i=index;" [formGroupName]="i">
                <mat-form-field>
                  <input matInput id="meterSerialNumber" placeholder="Meter serial number" formControlName="meterSerialNumber">

                </mat-form-field>

                <mat-form-field appearance="outline">
                  <textarea matInput placeholder="Meter location" formControlName="meterLocation" id="meterLocation"></textarea>
                </mat-form-field>

                <button mat-raised-button color="warn" (click)="deleteFormConnection(i)"> Delete Connection
                  <mat-icon aria-label="add connection icon">delete</mat-icon>
                </button>
              </div>
            </div>

            <button type="button" mat-raised-button color="primary" (click)="addConnection()"> Add Connection
              <mat-icon aria-label="add connection icon">add</mat-icon>
            </button>
          </td>

        </tr>
        <tr>
        <td>
            <div>
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="button" mat-button matStepperNext >Next</button>
            </div>

          </td>
        </tr>
      </table>


  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div>
      <button type="button" mat-button matStepperPrevious>Back</button>
      <button type="button" mat-raised-button color="accent" [disabled]="customerFormGroup.invalid" type="submit">Submit</button>
      <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
    </div>
  </mat-step>
</mat-horizontal-stepper>   </form>
