<div class="row">
  <div class="col-sm-4">
    <section class="filter-wrapper">
      <div class="keyword-wrapper">
          <input type="text" [formControl]="customerQueryField" id="keyword" placeholder="search for a customer..." autofocus />
      </div>
    </section>

    <mat-list>
      <mat-list-item *ngFor="let connection of customerConnections" [class.selected]="connection === selectedConnection"
                     (click)="onSelect(connection)">
        <span class="badge">{{connection.id}}</span>{{connection.meterSerialNumber}} in  {{connection.meterLocation}}
      </mat-list-item>

    </mat-list>
</div>
  <div class="col-sm-8">Detailed connection</div>
</div>
